<!-- Main jumbotron for a primary marketing message or call to action -->
<jumbotron-directive title="Name" subtitle="Subtitle" imghref="" ishome="true"></jumbotron-directive>

<div class="container">
	<div class="row">
		<div class="col-xs"></div>
		<div class="col-md-10 col-sm-12">
			<h2>Details</h2>
			<p>
				Yuccie banh mi chia trust fund kitsch. Pickled next level typewriter, truffaut locavore lumbersexual +1 intelligentsia ramps vexillologist pabst asymmetrical everyday carry. Schlitz 90's quinoa lomo, blue bottle ethical cliche. Af hell of mustache, craft beer poutine migas mlkshk prism vaporware blue bottle street art wolf. Man bun chambray copper mug williamsburg banjo vice taxidermy tbh forage fixie. Knausgaard brunch copper mug, neutra tacos seitan pok pok. Organic offal kickstarter, asymmetrical YOLO ennui viral truffaut.
			</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-xs"></div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-xs"></div>
		<div class="col-md-10 col-sm-12">
			<h2>More Details</h2>
			<p>
				Sriracha pug whatever microdosing. 8-bit hella single-origin coffee, man braid church-key hammock chartreuse vexillologist mixtape iceland roof party pok pok. Biodiesel hot chicken unicorn 8-bit normcore. Farm-to-table succulents yr master cleanse hoodie subway tile banjo offal. Authentic glossier slow-carb ethical, affogato bushwick actually PBR&B wolf fixie microdosing kickstarter dreamcatcher 8-bit. Man braid YOLO organic bitters listicle. Blue bottle vegan air plant, cray food truck snackwave ugh gochujang slow-carb gluten-free.
			</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-xs"></div>
	</div>
</div>
<div class="container">
	<div class="row">
	</div>
</div>